<% title(@contact.fname, "Contacts") %>
<%= link_to "Edit Contact", edit_contact_path(@contact) %>
<%= link_to "Delete Contact",
  contact_path(@contact),
  method: :delete,
  data: { confirm: "Are you sure you want to delete this contact?"}
  %>

<h1><%= @contact.fname %></h1>
<h1><%= @contact.lname %></h1>
<p><%= @contact.cell_phone %></p>
<p><%= @contact.email %></p>

