<header>
	<h1><%= @contact.fname %><%= @contact.lname %></h1>

	<ul class="actions">
		<li><%= link_to "Edit Contact", edit_contact_path(@contact), 
		  class: "edit" %></li>
		<li><%= link_to "Delete Contact", contact_path(@contact),
		  method: :delete,
		  data: { confirm: "Are you sure you want to delete this contact?" },
		  class: "delete" %></li>
	</ul>
</header>

<h2><%= @contact.fname %></h2>
<h2><%= @contact.lname %></h2>
<h3><%= @contact.cell_phone %></h3>
<h3><%= @contact.spouse %></h3>
<h3><%= @contact.children %></h3>
<h3><%= @contact.email %></h3>



